body {
    font-family: Arial;
}


span.today {
    color: darkgreen;
}

span.tomorrow {
    color: darkblue;
}

a {
    text-decoration: none;
}

h2 .city {
    color: royalblue;
}

p {
    font-size: 20px;
}